*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
.main{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    overflow: hidden;
}
.right{
    position: absolute;
    top: 2px;
    right: 2px;
    transform: scaleX(-1);
}
.left{
    position: absolute;
    left: 10px;
    margin-top: 20px;
}
.sticker {
    width: 80px;
    height: 45px;
    border: 2px solid rgb(151, 30, 105);
    border-right: none;
}
.line1 {
    width: 23px;
    height: 3px;
    background-color: black;
    transform: skewY(45deg);
    margin: 29px 0px 10px 55px;
    background-color: rgb(151, 30, 105);
}
.line2 {
    width: 21px;
    height: 3px;
    background-color: black;
    transform: skewY(-45deg);
    margin: -34px 0px 0px 56px;
    background-color: rgb(151, 30, 105);
}
.details{
    width: 50%;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.company-name,.team-heading{
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0px 80px 0px 80px;
    height: 11vh;
    background-color: rgb(151, 30, 105);
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}
.content{
   margin-top: 30px; 
   font-weight: 400;
   font-size: large;
}
.dotted-line{
    color:rgb(151, 30, 105);
}
.image{
    width: 100px;
    height: 100px;
}

.member{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    padding-right: 50px;
}
.member>h5{
    color: rgb(151, 30, 105);
}
.team1{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.team2{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.developer-box{
    margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.size{
    width: 80%;
}
.sales-right{
    position: absolute;
    right: 0;
    transform: scaleX(-1);
    margin-right: 10px;
}
.bottom-left{
    position: absolute;
    left: 0; 
    bottom: 0;   
    margin-left: 10px;
}
.down-margin{
    margin-bottom: 80px;
}

@media (min-width:400px){
    .team1{
        width: 50%;
    }
    .team2{
        width: 40%;
    }
}
@media (max-width:400px){
  .left,.sales-right{
    display: none;
  }
  .bottom-left{
    margin-left: 0px;
  }
}